
/* ================= CSS Variables ================ */


:root {
 --header-height: 3rem;

 /* Main Color */
--hue:333;

 /* HSL Colors  */

 --mainColor: hsl(var(--hue), 71%, 43%);
 --mainColorAlt:hsl(var(--hue), 57%, 53%);
 --mainColorLight: hsl(var(--hue), 91%, 85%);
 --titleColor: hsl(var(--hue), 8%, 15%);
 --textColor: hsl(var(--hue), 8%, 45%) ;
 --textColorLight: hsl(var(--hue), 8%, 65%) ;
 --inputColor: hsl(var(--hue), 71%, 96%);
 --bodyColor:hsl(var(--hue), 63%, 99%) ;
 --divColor:#FFF;

 /* Typo */
--bodyFont: 'Poppins', sans-serif;

/* Weights */
--medium:500;
--semiBold: 600;

/* Sizes */

--big:2rem;
--h1Size:1.5rem;
--h2Size:1.25rem;
--h3Size:1.125rem;
--regular:.938rem;
--small:.813rem;
--smaller:.75rem;

/* Bottom Margins */

--mb025:.25rem;
--mb05:.50rem;
--mb075:.75rem;
--mb1:1rem;
--mb15:1.5rem;
--mb2:2rem;
--mb25:2.5rem;
--mb3:3rem;


/* Z Index */

--tooltip:10;
--fixed:100;
--modal:100;

/* Font Size (Large Devices) */

@media screen and (min-width: 968px)

:root{
 --big:3rem;
 --h1Size:2.25rem;
 --h2Size:1.5rem;
 --h3Size:1.25rem;
 --regular:1rem;
 --small:.875rem;
 --smaller:.813rem;
}

}

/* =================== GLOBAL CSS ====================== */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body{
 font-family: var(--bodyFont);
/* font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
background-color: var(--bodyColor);
font-size: var(--regular);
color:var(--textColor);
}

h1,h2,h3,h4{
 color: var(--titleColor);
 font-weight: var(--semiBold);
}

ul {
 list-style: none;
}
li{
 list-style: none;
}

a {
 text-decoration: none;

}

img{
 max-width: 100%;
 height: auto;
}


/* ======================== REUSABLE  ============================= */

.section{
 padding: 2rem 0 4rem;
}

.sectionTitle{
 font-size: var(--h1Size);
 
}

.sectionSubtitle{
 display: block;
 font-size: var(--small);
 margin-bottom: var(--mb3);
}






.sectionTitle, .sectionSubtitle {
 text-align: center;
}


/* ======================== LAYOUT  ============================= */

.container {
 max-width: 768px;
margin-left: var(--mb15);
margin-right: var(--mb15);
}


.grid{
 display: grid;
 gap:1.5rem;
}

.header {
 width: 100%;
 position: fixed;
 bottom: 0;
 left: 0;
 z-index: var(--fixed);
 background-color: var(--bodyColor);
}

/* ======================== NAV  ============================= */


.nav {
 max-width: 968px;
 height: var(--header-height);
 display: flex;
 justify-content: space-between;
 align-items:center ;
}

.navLogo, .navToggle{
 color: var(--titleColor);
 font-weight: var(--medium);

}

.navLogo:hover{
 color: var(--mainColor);
}

.navToggle{
 font-size: 1.1rem;
 cursor: pointer;
}

.navToggle:hover{
 color: var(--mainColor);
}

@media screen and (max-width: 767px) {
 .navMenu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: var(--bodyColor);
  padding: 2rem 1.5rem 2rem;
  box-shadow: 0 -3px 11px rgba(0, 0, 0, .2);
  border-radius: 1.5rem 1.5rem 0 0;
  transition: .3s;
 }
}
.navItem{
 display: flex;
 justify-content: center;
 align-items: center;
}

.navList{
 grid-template-columns: repeat(3, 1fr);
 gap: 2rem;
}

.navLink{
 display: flex;
 flex-direction:column;
 align-items: center;
 font-size: var(--small);
 color: var(--titleColor);
 font-weight: var(--mainColor);
}

.navLink:hover {
 color:var(--mainColor)

}

.navIcon{
 font-size: 1.2rem;
}

.navClose{
 position: absolute;
 right: 1.3rem;
 bottom: .5rem;
 font-size: 1.5rem;
 cursor: pointer;
 color: var(--mainColor);
}

.navClose:hover{
 color: var(--mainColorAlt);
}

.showMenu {
 bottom:0;
}


/* ========================  HOME  ============================= */
.homeContainer{
 gap: 1rem;
}

.homeContent{
 display: grid;
 grid-template-columns: 5fr 3fr;
 padding-top: 3.5rem;
 align-items: center;
}

.homeSocial{
 display: grid;
 grid-template-columns:max-content ;
 row-gap: 1rem;
}

.homeSocialIcon{
 font-size: 1.25rem;
 color: var(--mainColor);
}

.homeSocialIcon:hover{
 color: var(--mainColorAlt);
}

.homeBlob{
 width: 200px;
 fill: var(--mainColor);
}

.homeBlobImg{
  width: 450px; 

}
.homeData {
 grid-column: 1/3;
}

.homeTitle{
 font-size: var(--big);
}

.homeSubtitle{
 font-size: var(--h3Size);
 color: var(--textColor);
 font-weight: var(--medium);
 margin-bottom: var(--mb075);
}

.homeDescription{
 margin-bottom: var(--mb2);
}

.homeScroll{
  display: none; 
} 

.home-scroll-button{
 color: var(--mainColor);
 transition: .3s;
}

.home-scroll-button:hover{
 transform: translateY(.25rem)
}

.home-scroll-mouse{
 font-size: 2rem;
}

.home-scroll-name{
 font-size: var(--small);
 color: var(--titleColor);
 font-weight: var(--medium);
 margin-right: var(--mb025);
}

.home-scroll-arrow {
 font-size: 1.25rem;
}


/* ========================  BUTTONS  ============================= */

.button{
 display: inline-block;
 background-color: var(--mainColor);
 color: #FFF;
 padding: 1rem;
 border-radius: .5rem;
 font-weight: var(--medium);
}

.button:hover{
 background-color:var(--mainColorAlt) ;
}

.button-icon{
 font-size: 1.25rem;
 margin-left: var(--mb05);
 transition: .3s;
}

.button-flex{
 display: inline-flex;
 align-items: center;
}


.button-small{
  padding: .75rem 1rem;
}

.button-link{
  padding: 0;
  background-color: transparent;
  color: var(--mainColor);
}

.button-link:hover{
  padding: 0;
  background-color: transparent;
  color: var(--mainColorAlt);
}
/* ========================  ABOUT  ============================= */

.aboutImg{
 border-radius: 50%;
 width: 700px;
 justify-self: center;
 align-self: center;
}

.aboutDescription{
 text-align: center;
 margin-bottom: var(--mb25);
}

.aboutInfo{
 display: flex;
 justify-content: space-evenly;
 margin-bottom: var(--mb25);
}

.about-info-title{
 font-size: var(--h2Size);
 font-weight: var(--semiBold);
 color: var(--titleColor);
}
.about-info-name{
 font-size: var(--smaller);
}

.about-info-title,
.about-info-name{
 display: block;
 text-align: center;

}

.aboutButtons{
 display: flex;
 justify-content: center;
}

/* ========================  SKILLS  ============================= */



.skillsContainer{
  row-gap: 0;
}

.skillsHeader{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb25);
  cursor: pointer;
}

.skillsIcon, .skillsArrow{
  font-size: 2rem;
  color: var(--mainColor);
}

.skillsIcon{
  margin-right: var(--mb075);
}
.skillsTitle{
  font-size: var(--h3Size);
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb05);
}

.skillsSubtitle{
  font-size: var(--small);
  color:var(--textColorLight) ;
}

.skillsArrow{
  margin-left: auto;
  transition: .4s;
}
.skillsList{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skillsName{
  font-size: var(--regular);
font-weight: var(--medium);
}
.skillsBar, .skillsPercentage{
  height: 5px;
  border-radius: .25rem;
}

.skillsBar{
  background-color: var(--mainColorLight);
}

.skillsPercentage{
  display: block;
  background-color: var(--mainColor);
}

.skillsHTML{
  width: 90%;
}

.skillsCSS{
  width: 77%;
}

.skillsJS{
  width: 44%;
}

.skillsREACT{
  width: 13%;
}

.skillsClose .skillsList{
  height: 0;
  overflow: hidden;
}


.skillsOpen .skillsList{
  height: max-content;
  margin-bottom: var(--mb25);
}

.skillsOpen .skillsArrow{
  transform: rotate(-180deg);
}

/* ========================  SERVICES  ============================= */

.servicesContainer{
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.servicesContent{
  position: relative;
  background-color: var(--divColor);
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  transition: .3s;
}

.servicesContent:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, .5);

}

.servicesIcon{
  display: block;
  font-size: 1.5rem;
  color:var(--mainColor);
  margin-bottom: var(--mb1);
}

.servicesTitle{
  font-size: var(--h3Size);
  margin-bottom: var(--mb1);
  font-weight: var(--medium);
}

.servicesButton {
  cursor: pointer;
  font-size: var(--small);

}

.servicesButton:hover .buttonIcon{
  transform: translateX(.25rem);
}

.servicesModal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--modal);
  opacity: 0;
  visibility: hidden; 
  transition: .3s;
}

.services-modal-content{
  position: relative;
  background-color: var(--divColor);
  padding: 1.5rem;
  border-radius: .5rem;

}

.services-modal-services{
  row-gap: 1rem;
}

.services-modal-service{
  display: flex;
  }

  .services-modal-title{
    font-size: var(--h3Size);
    font-weight: var(--medium);
    margin-bottom: var(--mb15);
  }

  .services-modal-close{
    position: absolute;
    top:1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--mainColor);
  }

  .services-modal-icon{
    color: var(--mainColor);
    margin-right: var(--mb025);
  }

  
  /* ACTIVE MODAL */


  .activeModal{
    opacity: 1;
    visibility: visible;
  }