
/* ================== UNIVERSAL */

* {
 margin: 0;
 padding: 0;
 outline: 0;
 appearance: none;
 border: 0;
 text-decoration: none;
 list-style: none;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}


/* ================== ROOT */

:root {

 /* ================== COLORS */
 --primary-color: #1A72A1;
 --notif-color:#ff7782;
 --success-color: #41f1b6;
 --warning-color: #ffbb55;
 --white-color: #fff;
 --info-dark-color: #7d8da1;
 --info-light-color: #dce1eb;
 --dark-color: #363949;
 --light-color: rgba(132, 139, 200, 0.18);
 --box-shadow-color: rgba(132, 139, 200, 0.4);
 --primary-variant-color: #111e88;
 --dark-variant-color: #677483;
 --bg-color: #f6f6f9;

  /* ================== PROPERTIES */


 --profile-photo: 2.8rem;
 --smaller-font: 0.74rem;
 --small-font: 0.77rem;
 --regular-font: 0.88rem;
 --regular-font-small: 0.8rem;
 --large-font: 1.4rem;
 --semi-extra-large-font:1.6rem;
 --extra-large-font: 1.8rem;
 --card-border-radius: 2rem;
 --border-radius-one:  0.4rem;
 --border-radius-two: 0.8rem;
 --border-radius-three: 1.2rem;
 --card-padding: 1.8rem;
 --padding-one: 1.2rem;
 --box-shadow: 1rem 1rem 2rem var(--box-shadow-color);
 

}

.dark-theme {
 --bg-color: #181a1e;
 --white-color: #202528;
 --dark-color: #edeffd;
 --dark-variant-color: #a3bdcc;
 --ligth-color: rgba(0, 0, 0, 0.4);
 --box-shadow-color: var(--light-color);
}



  


/* ================== MAIN ELEMENTS */

html {
 font-size: var(--regular-font);
 min-height: 100vh;
 height: 100%;
}

body {
 width: 100vw;
 min-height: 100vh;
 background: var(--bg-color) !important;
 user-select: none;
 overflow-x: hidden; 
 color: var(--dark-color);
 transition: all 300ms ease-in-out;
}

a {
 color: var(--dark-color);
}

img {
 display: block;
 width: 100%;
 height: 100%;
}

h1 {
 font-weight: 800;
 font-size: var(--extra-large-font);
}

h2 {
 font-size: var(--large-font);
}

h3 {
 font-size: var(--regular-font);
}

h4 {
 font-size: var(--regular-font-small);
}

h5 {
 font-size: var(--small-font);
}

small {
font-size: var(--small-font);
}

p {
 color:var(--dark-variant-color);
}

b {
 color:var(--dark-color);
}

 aside {
height: 100vh;
opacity: 1 !important;
visibility: visible !important;
} 

aside .top-bar {
 background: var(--bg-color);
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: var(--large-font);
 transition: all 300ms ease-in-out;
 
}

aside .top-bar .logo img {
 height: 2rem;
 width: auto;
}

aside .top-bar .logo {
 margin-left: 2rem;
}

aside .logout-bar{
 position: absolute;
 bottom: 2rem;
 width: 100%;
}

aside h3 {
 font-weight: 500;
}

/* ================== REUSABLE CLASSES */

/* ================== SIDEBAR */

.main-container {
 display: grid;
 width: 96%;
 margin: 0 auto;
 padding: 1rem;
 gap: 1.8rem;
 grid-template-columns: 14rem auto 23rem;
 transition: all 300ms ease-in-out;
}

.centered {
 display: grid;
 place-items: center;
}

.close-icon {
 display: none;
}

.menu-bar{
 display: flex;
flex-direction: column;
height: 86vh;
position: relative;
top:3rem; 
}


.sidebar-link { 
display: flex;
color: var(--info-dark-color);
margin-left: 2.7rem;
gap :1rem;
align-items: center;
position: relative;
height: 3.7rem;
transition: all 300ms ease-in-out;
}

.sidebar-link span:not(.message-count) {
 font-size: 1.6rem;
 transition:  all 300ms ease-in-out;
}
.sidebar-link:hover{
 color: var(--primary-color);
}

.sidebar-link:hover span{
 margin-left: 0.3rem;
}

.sidebar-link.active {
 background: var(--light-color);
 color: var(--primary-color);
 margin-left: 0.3rem;
 position: relative;
 transition:  all 300ms ease-in-out;
}

.sidebar-link.active span {
 color: var(--primary-color);
 margin-left: calc(1rem - 3.5px);
}

.sidebar-link.active::before {
 transition:  all 300ms ease-in-out;
 content: "";
 width: 7px;
 height: 100%;
background: var(--primary-color);
}

.profile-photo{ 
 width: var(--profile-photo);
 height: var(--profile-photo);
 border-radius: 50%;
 overflow: hidden;
}

.message-count {
 background: var(--notif-color);
 color: var(--white-color) !important;
 padding: 2px 10px;
 font-size: 11px;
 border-radius: var(--border-radius-one);
}

.muted {
 color: var(--info-dark-color);
}

.primary {
 color: var(--primary-color);
}
.success {
 color: var(--success-color);
}
.warning {
 color: var(--warning-color) !important;
}

/* ================== MAIN */

main {
 margin-top: var(--large-font);
}

.date {
 display: inline-block;
 background: var(--light-color);
 border-radius: var(--border-radius-one);
 margin-top: 1rem;
 padding: 0.5rem var(--semi-extra-large-font);
}

input[type="date"]{
 background: transparent;
 color: var(--dark-color);
}

.insights{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: var(--semi-extra-large-font);
}

.insights > div {
 background: var(--white-color);
 padding: var(--card-padding);
 border-radius: var(--card-border-radius);
 margin-top: 1rem;
 box-shadow: none;
}
.insights > div:hover{
 box-shadow: var(--box-shadow);
}

.insights > div span {
 background: var(--primary-color) ;
 padding: 0.5rem;
 border-radius: 50%;
 color: var(--white-color);
 font-size: var(--extra-large-font);
}


.insights > div.expenses span {
 background: var(--notif-color);
}

.insights > div.income span {
 background: var(--success-color);
}

.info {
 display: flex;
 align-items: center;
 justify-content: space-around;

}

.progress {
 margin-left: 2rem;
 position: relative;
 width: 92px;
 height: 92px;
 border-radius: 50%;
}

svg {
 width: 7rem;
 height: 7rem;
}

circle {
 fill: none;
 stroke: var(--primary-color);
 stroke-width: 14;
 stroke-linecap: round;
 transform: translate(5px, 5px);
 stroke-dasharray: 110;
 stroke-dashoffset: 92;
}


.sales svg circle {
 stroke-dashoffset: -30;
 stroke-dasharray: 200;
}

.expenses svg circle {
 stroke-dashoffset: 20;
 stroke-dasharray: 80;
}

.income svg circle {
 stroke-dashoffset: 35;
 stroke-dasharray: 110;
}

.percentage{
 position: absolute;
 top: -2px;
 left: -2px;
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.insights small {
 display: block;
 margin-top: 1.2rem;
}

.table {
 margin-top: 2rem;
 background: var(--white-color);
 padding: var(--card-padding);
 text-align: center;
 transition: all 300ms ease-in-out;
 width: 100%;
 border-radius: var(--card-border-radius);
 display: grid;
 gap: 2rem;
grid-template-columns: repeat(4, auto);
}

.table:hover {
 box-shadow: var(--box-shadow);
}


.table-data {
 font-size: 12px;
 color: var(--dark-variant-color);
border-bottom: 1px solid var(--info-light-color);
}


.table-info-wrapper {
 display: contents;
 background: rebeccapurple;
}

.table-info-wrapper:hover{
 color: red;
}

.recent-order {
 margin-top: 2rem;
}

.recent-order a {
 text-align: center;
 display: block;
 margin: 1rem auto;
 color: var(--primary-color);
}

/* ================== LEFT PANEL  */

.right-panel {
 margin-top: 1.4rem;
}

.top-right {
 display: flex;
 justify-content: end;
 gap: 2rem;
}

#menu-btn {
 display: none;
}

.theme-toggle {
 display: flex;
 background: var(--light-color);
 justify-content: space-between;
 align-items: center;
 height: 1.6rem;
 width: 4.2rem;
 cursor: pointer;
 border-radius: var(--border-radius-one);
}

.theme-toggle span {
 font-size: 1.2rem ;
 width: 50%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.theme-toggle span.active {
 background: var(--primary-color);
 color: white;
 border-radius: var(--border-radius-one);
}

.profile {
 display: flex;
 gap: 2rem; 
 text-align: right;
}

.recent-updates {
 margin-top: 1.2rem;
}

.updates {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 background-color: var(--white-color);
 padding: var(--card-padding);
 border-radius: var(--card-border-radius);
 transition:  all 300ms ease-in-out;
}

.updates:hover{
 box-shadow: var(--box-shadow);
}

.update {
 display: grid;
 grid-template-columns: 2.7rem auto;
 gap: 1rem;
}


.sales-analytics {
 margin-top: 1rem;
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.sales-analytics h2 {
 margin-bottom: 0.8rem;
}

.sales-analytics .item {
 background: var(--white-color);
 display: flex;
 align-items: center;
 gap: 1rem;
 margin-bottom: 0.7rem;
 padding: 1.4rem var(--card-padding);
 border-radius: var(--border-radius-three);
 transition:  all 300ms ease-in-out; 
}

.sales-analytics .item:hover {
 box-shadow: var(--box-shadow);
}

.right-analytics {
 display: flex;
 justify-content: space-between;
 align-items:flex-start;
 margin: 0;
 width: 100%;
}

.item .icon {
 padding: 0.6rem;
 color: var(--white-color);
 border-radius: 50%;
 background: var(--primary-color);
 display: flex;
}

.item.offline .icon {
 background: var(--notif-color);
}


.item.customers .icon {
 background: var(--success-color);
}

/* .item.add-product {
 margin-top: 2rem;
 background: transparent;
 border: 2px dashed var(--primary-color);
 color: var(--primary-color);
 display: grid;
 place-items: center;
 cursor: pointer;
}


.add-product div {
 display: flex;
 align-items: center;
 gap: 0.7rem;
}

.add-product div h3 {
 font-weight: 600;
} */

/* ================== MEDIA QUERIES / TABLET */


@media screen and (max-width: 1440px) {

 .main-container {
  width: 94%;
  grid-template-columns: 7rem auto 23rem;
 }

 aside {
  opacity: 1 !important;
  visibility: visible !important;
 }
 aside .top-bar .logo {
  margin-left: -1rem;
 }

 .sidebar-link h3  {
  display: none;
 }

 .sidebar-link a {
  width: 5.6rem;
 }

 /* .logout-bar {
  position: absolute;
  top: 130%;
 } */
 
 .logout-bar a {
  width: 5.6rem;
 }

 main {
  padding: 0 3rem;
 }

 main .insights {
  grid-template-columns: 1fr;
  gap: 0;
 }

 main .recent-order {
  width: 94%;  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 11rem 0 0 8.8rem;
 }

 .table {
  width: 84vw;
 }
}


/* ================== MEDIA QUERIES / SMALLER DEVICES */

@media screen and (max-width: 919px) {
 .main-container{
  width: 100%;
  grid-template-columns: 1fr;
  padding: 0rem 4rem;
 }

 aside {
  position: absolute;
  left: -100%;
  background: var(--white-color);
  width: 18rem;
  z-index: 3;
  box-shadow: 1rem 3rem 4rem var(--light-color);
  height: 100vh;
  padding-right: var(--card-padding);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
 }

 .top-bar .logo {
  margin-left: 2rem !important;
 }

 .sidebar-link a {
  width: 100%;
  height: 3.4rem;
 }

 .sidebar-link h3 {
  display: inline;
 }

 aside .close-icon {
  display: inline-block;
  cursor: pointer;
 }

 main {
  margin-top: 8rem;
  padding: 0.1rem;
 }

 main .recent-order{
  position: relative;
  margin: 3rem 0 0 0;
  width: 100%;
 }

 .table {
  width: 100%;
  margin: 0;
 }

 .right-panel {
  width: 94%;
margin: 0 auto 4rem;
 }

 .top-right {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 0.8rem;
  height: 4.6rem;
  background: var(--white-color);
  width: 100%;
  margin: 0;
  z-index: 2;
  box-shadow: 0 1rem 1rem var(--light-color);
 }
/* 
 .theme-toggle {
  width: 4.4rem;
position: absolute;
left: 74%;
 } */

 .profile .profile-info {
  display: none;
 }

 .top-right #menu-btn {
  display: inline-block;
  background: transparent;
  cursor: pointer;
  color: var(--dark-color);
  position: absolute;
  left: 1rem;
 }

 .top-right #menu-btn span {
  font-size: 2rem;
 }

}