@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 border:0;
 outline:0;
 list-style:none;
 text-decoration: none;
}

:root {

	/* ================= LIGHT MODE */

	--background: #fff;
	--h1h3: #fff;
	--headings: #014ce6;
	--labels: #000e29;
	--borders: rgba(1, 76, 230, 0.4);
	--textInput: #000e29;
	--inputBack: #fff;
	--switchLight: #ecc1db;
	--buttonHover: #3477fe;
	--checkedSlider: #fff;

	/* =================== DARK MODE */

	--backgroundDark: #0f1020;
	--bordersDark: rgba(255, 255, 255, 0.1);
	--inputBackDark: #212345;
	--labelsDark: #fff;
	--textInputDark: #fff;
	--switchDark: #014ce6;

	/* =================== OPENTEXT THEME*/
	--headingsOT: #014ce6;
	--h1h3OT: #fff;
	--labelsOT: #000e29;
	--textInputOT: #000e29;
	--bordersOT: rgba(1, 76, 230, 0.3);
	--buttonHoverOT: #3477fe;

	/* =================== TECHINT THEME*/

	--headingsTECHINT: #022047;
	--buttonHoverTECHINT: #033577;
	--bordersTECHINT: rgba(2, 36, 80, 0.3);

	/* =================== ORANGE THEME*/

	--headingsOrange: #ff7f11;
	--buttonHoverOrange: #ff9d47;
	--bordersOrange: rgba(255, 127, 17, 0.5);

	/* =================== GREEN THEME*/

	--headingsGreen: #469b46;
	--labelsGreen: #193819;
	--buttonHoverGreen: #56b356;
	--bordersGreen: rgba(70, 155, 70, 0.5);


	--thumb: rgba(0,0,0,0.3);
	--thumHover: auto;

	--bg: #022047;
--fg: #fff;
--ds: rgba(255,255,255,0.69);
--txt: #fff;


	/* =================== WIDTHS*/

 --large:75%;
 --medium:86%;
 --small:90%;
	

}

html{
 scroll-behavior: smooth;
}

::-webkit-scrollbar{
 display: none;
}

body {
font-family: 'Poppins', sans-serif;
background: var(--background);
}

h1,
h2,
h3,
h4 {
 font-weight: 400;
}


.container{
 width: var(--large);
 margin: 0 auto;
}


/* ============================= DARK MODE / THEMES CLASSES  */


.darkmode {
	caret-color: rgba(255, 255, 255, 0.5);
	--background: var(--backgroundDark);
	--labels: var(--labelsDark);
	--textInput: var(--textInputDark);
	--inputBack: var(--inputBackDark);
	--borders: var(--bordersDark);
	--bordersOrange: rgba(255, 127, 17, 0.2);
	--bordersGreen: rgba(70, 155, 70, 0.2);
}

.OT {
	--headings: var(--headingsOT);
	--switchDark: var(--headingsOT);
	--buttonHover: var(--buttonHoverOT);
	--thumb: var(--headingsOT);
	--thumbHover: var(--buttonHoverOT);
	--loaderBg: var(--headingsOT);
}

.techintTheme {
	--headings: var(--headingsTECHINT);
	--switchDark: var(--headingsTECHINT);
	--buttonHover: var(--buttonHoverTECHINT);
	--borders: var(--bordersTECHINT);
	--thumb: var(--headingsTECHINT);
	--thumbHover: var(--buttonHoverTECHINT);
	--loaderBg: var(--headingsTECHINT);
}

.orangeTheme {
	--headings: var(--headingsOrange);
	--switchDark: var(--headingsOrange);
	--buttonHover: var(--buttonHoverOrange);
	--borders: var(--bordersOrange);
	--thumb: var(--headingsOrange);
	--thumbHover: var(--buttonHoverOrange);
	--loaderBg: var(--headingsOrange);
}

.greenTheme {
	--headings: var(--headingsGreen);
	--switchDark: var(--headingsGreen);
	--buttonHover: var(--buttonHoverGreen);
	--borders: var(--bordersGreen);
	--thumb: var(--headingsGreen);
	--thumbHover: var(--buttonHoverGreen);
	--loaderBg: var(--headingsGreen);
}